<div class="carousel-inner">
  <div *ngFor="let article of articles, let i = index" class="carousel-item" [ngClass]="{'active': i == 0}">
    <img src="/api/v1/files/{{article.imageId}}?size=800" width="800" height="300" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h4>{{article.title}}</h4>
      <p>{{article.subtitle}}</p>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>