<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="!production" class="dev-mode">
  <img src="assets/images/dev_mode.png" width="128" height="128"/>
</div>

<div class="container">

  <nav class="nav">
    <a class="nav-link" routerLink="/">
      <img width="150" alt="Angular Logo" src="assets/images/noser-logo.png">
    </a>
    <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>

    <a routerLink="/{{m.slug}}" *ngFor="let m of menuEntries" class="nav-link" routerLinkActive="active">{{m.name}}</a>

    <a routerLink="/rxjs-demo" class="nav-link" routerLinkActive="active">RxJs Demo</a>
  </nav>

  <div style="text-align:center; margin-top: 20px;">
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <p class="mt-5 mb-3 text-muted text-center">© 2019 {{ companyName  }}</p>
</div>
