<form #pageForm="ngForm" (ngSubmit)="onSubmit()">
  <h3>Edit Page (Model FORM)</h3>
  <div class="form-group">
    <label #tag for="id">Id</label>
    <input type="email" disabled class="form-control" id="id"
      placeholder="Id" name="id" [(ngModel)]="page.id">
  </div>
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Page name" 
      name="name" [(ngModel)]="page.name" required #name="ngModel">
      <div class="text-danger" *ngIf="name.invalid">
        name cannot be empty
    </div> 
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" class="form-control" id="slug"  placeholder="Slug" 
      name="slug" [(ngModel)]="page.slug" #slug="ngModel" required pageNameValidator>
    <div class="spinner-border" role="status" *ngIf="slug.pending">
      <span class="sr-only">Loading...</span>
    </div>
    
    <div class="text-danger" *ngIf="slug.invalid">
        Value cannot be empty or is already taken
    </div>
    <!--
    <p>INVALID: {{slug.invalid}}, PENDING: {{slug.pending}}</p>
    -->
  </div>

  <div class="form-group">
      <label>TEST</label>
      <input type="text" class="form-control"  
        [formControl]="testVar">
      <div *ngIf="testVar.invalid">INVALID</div>
    
    </div>
  <div class="form-group" >
      <label for="content">Content (markdown)</label>
      <textarea class="form-control" id="content" placeholder="Page content here"
        name="content" [(ngModel)]="page.content" required minlength="4" #content="ngModel"></textarea>
      <div class="text-danger" *ngIf="content.invalid">
        Please provide some content
      </div>
  </div>
  
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="published" name="published" [(ngModel)]="page.published">
    <label class="form-check-label" for="published">Piblished</label>
  </div>
  <button [ngClass]="{'btn-warning': pageForm.pristine}" [disabled]="!pageForm.valid" class="btn btn-primary">Edit</button>
</form>